/**
 * @file
 * Subtheme specific CSS.
 */
 
.parallax-image {
  width:100%;
  height: 100%;
  border-right: 0;
  border-bottom: 0;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: block;

}
   

nav#navbar-main {
  width: 1200px;
  position: relative;
  right: -81px;
  background-color: white;
}

    /*banner*/
.b-text-2 { 
  color: white; 
  font-size: 36px

}


.b-text-3 { 
  color: white; 
  font-size: 40px

}


.b-text-4 {
  color: white;
  font-size: 30px

}


.b-text-1 {
  width: 50%;
  background-color: #b07c4b;
  font-size: 48px
}

.content-banner {
  width:50%;
  padding-top: 10%;

}
.parallax {
  height: 343px;

}

.texto-diferenciais{
  position:absolute;
  right: 0;

}


.destaque .col-md-3{
  padding-top:10px;

}


.banner-image {
  width: 100%;
  height: 563px;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.servicos, .clientes, .noticias{
  padding-top: 20px;
  padding-bottom: 20px;

}


/*banner*/

.container-links-footer {
  width:150px;
  background-color: rgb(3, 235, 243)

}


.card-image{
  background-size: 100% 100%;  
  padding: 1px;

}


.flip-card {
  background-color: transparent;
  width: 207px;
  height: 356px;
  perspective: 1000px;

}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}


.flip-card-front {
  background-color: #bbb;
  color: black;

}


.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);

}


.flip-card-front .icon-title {
  display: flex;
  bottom: 18px;
  right: 0px;
  position: absolute;
  width: 160px;
  height: 50px;
  font-family: ITC Avant Garde Gothic Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}


.flip-card-front .icon {
  background: #b07c4b;
  padding: 10px;

}


.flip-card-back .icon {
  background: #b07c4b;
  padding: 10px;
  padding-left: 3%;
  width: 61px;
  position: absolute;
  display: flex;
  right: 0;
}


.flip-card-back .info {
  position:absolute;
  bottom:0px;

}


.flip-card-back               { background:#1a243f; }
.flip-card-back a:link        {  color:#b07c4b;  }
.flip-card-back a:visited     {  color:#b07c4b;  }
.flip-card-back .content-body { letter-spacing: 0em;  }


.flip-card-back .link {
  text-decoration:none;
  color:#b07c4b;

}


.flip-card-front .title {
  font-weight: lighter;
  background: #fff;
  padding: 5px;

}


.card-new {
  background-color: transparent;
  width: 345px;
  height: 462px;
  perspective: 1000px;

}


.overflow {
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  opacity:0;
  transition:all 0.5s;

}

.overflow:hover{  opacity:1;  }

.dados-footer{
    text-align: center;
    width: 1050px;

}