/**
 * @file
 * Subtheme specific CSS.
 */
 .parallax-image {
    min-height: 300px;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: block;
}
