{% set title = row._entity.title.value %}
{% set image = row._entity.field_image.entity.fields.uri.value %}
{% set body = row._entity.body.value %}

<div class="diference-content container-fluid">
	<div class="row">
		<div class="diference-text col-md-6">
			<div class="diference-title">
				<span class="dash"></span>
				{{title}}
			</div>
			<div class="diference-body">{{body|raw}}</div>
		</div>
		<div class="diference-img col-md-6">
			<div class="diference-img">
				<img src="{{file_url(image)}}" class="img-fluid">
			</div>	
		</div>
	</div>
</div>
