
{% set image = row._entity.field_image.entity.fields.uri.value %}

{# 
	{{ body }} == Body
	{{ field_email }} == Email
	{{ field_number }} == Número 
	
#}


<div class="footer-info-content">
	<div class="footer-info-number">
		<a href="tel:{{ row._entity.field_number.value}}">{{ row._entity.field_number.value}}</a>
	</div>
	<div class="footer-info-email">
		<a href="mailto:{{ row._entity.field_email.value }}">
			{{ row._entity.field_email.value }}
		</a>
	</div>
	<div class="footer-info-endereco">
		{{ row._entity.body.value|raw }}
	</div>
</div>


