{% set title = row._entity.title.value %}
{% set body = row._entity.body.value %}
{% set image = row._entity.field_image.entity.fields.uri.value %}
{% set date = row._entity.field_date.value %}
{% set newsurl = row._entity.field_link.value.0.uri %}


<div class="container">
	<div class="news card">
		<div class="new-card-front card-front" style="background-image: url({{file_url(image)}});">
			<div class="new-titlle">
				{{title}}
			</div>
			<div class="new-date">
				{{date}}
			</div>
		</div>
		<div class="new-card-back card-back">
			<div class="back container">
				<div class="new-title-back">
					{{title}}
				</div>
				<div class="new-body">
					{{body|striptags|slice(0,100) ~ '...'}}
				</div>
				<div class="new-date-back">
				{{date}}
				</div>
			</div>
			<div class="read"></div>
		</div>
	</div>    
</div>
