{% set image = row._entity.field_image.entity.fields.uri.value %}

<div class="banner-image" style="background-image: url({{file_url(image)}});">
	<div class="banner-texts container">
		<div class="banner-text-1">{{ row._entity.field_texto_1.value }}</div>
		<div class="banner-text-2">{{ row._entity.field_texto_2.value }}</div>
		<div class="banner-text-3">{{ row._entity.field_texto_3.value }}</div>
		<div class="banner-text-4">{{ row._entity.field_texto_4.value }}</div>
	</div>
</div>
