{% set image = row._entity.field_image.entity.fields.uri.value %}

<div class="footer-content">
	<div class="footer-img">
		<img class="img-fluid" src="{{file_url(image)}}">
	</div>
	<div class="footer-social-icons">
		{% for item in row._entity.field_r %}
			<a href="{{item.entity.field_link.value}}" target="_blank">
				<i class="{{ item.entity.field_icone.value }}"></i>
			</a>
		{% endfor %}
	</div>
</div>


