{% set title = row._entity.title.value %}
{% set icone = row._entity.field_icone.entity.fields.uri.value %}
{% set image = row._entity.field_image.entity.fields.uri.value %}
{% set body = row._entity.body.value %}
{% set readurl = row._entity.field_link.value.0.uri  %}
{% set readtitle = row._entity.field_link.value.0.title %}

<div class="service-card card">
    <div class="service-card-front card-front" style="background-image: url({{file_url(image)}});">
        <div class="service-icon"> <img src="{{file_url(icone)}}"> </div>
        <div class="service-title"> {{title}} </div>
    </div>
    <div class="service-card-back card-back container "> 
        <div class="service-icon"> 
            <img src="{{file_url(icone)}}"> 
        </div>
        <div class="service-title-back"> {{title}} </div>
        <div class="service-body">{{body|striptags|slice(0,51) ~ '...'}} </div>
        <div class="service-read">
            <span class="dash"></span>
            <a href="{{readurl}}">{{readtitle}}</a>
        </div>
    </div>
</div>



