{% set readurl = row._entity.field_link.value.0.uri  %}

<div class="client-content">
	<div class="client-carousel container">
		{% for item in row._entity.field_image %}
			<div class="image">
				<img src="{{file_url(item.entity.fields.uri.value)}}">
			</div>
		{% endfor %}
	</div>
	<div class="client-carousel-button col-lg-6" style="text-align: right;">
		<a href="{{readurl}}" class="btn btn-outline-dark btn-lg" role="button">
			Ver Mais
		</a>
	</div>
</div>


