{% set image = row._entity.field_image.entity.fields.uri.value %}

{# Campos das views
    {{ field_segment_areas }} == Areas do Segmentos
    {{ field_image_icon }} == imagem icone
    {{ field_link_name }} == Nome Link
    {{ field_title }} == Titulo
    {{ field_link_path }} == URL do Link
#}

   
    <div class="segments container">
                
        <div class="segment-titles-area">
          <div class="segment-titles-icon">
              <img src="{{file_url(row._entity.field_image_icon.entity.fields.uri.value)}}">
          </div>
          <div class="segment-titles-text">
              {{row._entity.field_title.value}}
          </div>
        </div>
         
        <div class="segment-areas">
             {% for area in row._entity.field_segments_areas %} 
                <div class="segment-area-title">
                    {{area.value}} 
                </div>
             {% endfor %} 
        </div>
        <div class="segment-link">
            <a href="{{row._entity.field_link_path.value}}">{{row._entity.field_link_name.value}}</a>
        </div>
        
    </div>

   


















